@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Light.ttf") format("ttf"),
    url("/fonts/OpenSans-Light.ttf") format("ttf");
}

body {
  background-color: #45a3ff;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  box-sizing: border-box;
}
html:focus-within {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* contact.html CSS */

.logo {
  width: 10vh;
  margin-left: 1vh;
}

.footer {
  background-color: rgba(29, 36, 42, 0.9);
  padding: 0em 2em 1em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35vh 0 0 0;
}
.footerRainyDays,
a {
  margin: 0 1em 0 0;
  color: #bfbfbf;
  text-decoration: none;
}

.error {
  display: none;
  color: #930000;
}

.contact {
  text-align: center;
}

label {
  display: block;
  font-size: 4vw;
  padding-left: 2%;
  padding-bottom: 1%;
  margin-top: 1%;
  font-family: "Gothic-2";
  animation: transitionIn 0.8s;
}
input[type="text"] {
  border-radius: 299px;
  background-color: #ffffff;
  border: 1px solid #000000;
  height: 5vw;
  width: 44vw;
}
input[type="number"] {
  border-radius: 299px;
  background-color: #ffffff;
  border: 1px solid #000000;
  height: 5vw;
  width: 44vw;
}

input {
  margin-left: 5.2vh;
}

#email {
  margin-left: 5.5vh;
}

#lastName {
  margin-left: 0vh;
}

.contact-button {
  border-radius: 124px;
  margin-top: 5%;
  margin-left: 1%;
  margin-bottom: 1%;
  outline: turquoise;
  border-color: white;
  width: 82%;
}

.contact-img {
  display: none;
}

.error {
  display: none;
}

.welcome_page_button {
  background-color: #6979f8;
  border: none;
  color: white;
  padding: 4px;
  margin-top: 5%;
  border-radius: 3px;
  display: flex;
  font-size: 4.9vw;
  margin-left: 21vw;
}

/* Media Query For Res: 640 */

@media (min-width: 640px) {
  .Back-BTN {
    margin-left: -13%;
  }

  .contact {
    margin-left: -74%;
  }
  .contact-img {
    display: none;
    width: 40%;
    margin-left: 55%;
    margin-top: -2%;
  }

  .contact-form {
    margin-top: 6%;
  }

  .contact-button {
    border-radius: 124px;
    margin-top: 2%;
    margin-left: 0%;
    margin-bottom: 1%;
    outline: turquoise;
    border-color: white;
    width: 62%;
  }
}

/* Media Query For Res: 768 */

@media (min-width: 768px) {
  p {
    line-height: 23px;
  }

  .Back-BTN {
    margin-left: -11%;
  }

  .contact {
    margin-left: -79%;
  }

  .contact-img {
    display: block;
    width: 40%;
    margin-left: 55%;
    margin-top: -2%;
  }

  .contact-form {
    margin-top: -28%;
  }

  label {
    display: block;
    font-size: 1.9vw;
    padding-left: 2%;
    padding-bottom: 1%;
    margin-top: 1%;
    font-family: "Gothic-2";
    animation: transitionIn 0.8s;
  }

  input[type="text"] {
    border-radius: 299px;
    background-color: #ffffff;
    border: 1px solid #000000;
    height: 3.6vw;
    width: 43vw;
  }

  .welcome_page_button {
    background-color: #6979f8;
    border: none;
    color: white;
    padding: 4px;
    margin-top: 5%;
    border-radius: 3px;
    display: flex;
    font-size: 2.9vw;
    margin-left: 19vw;
  }
}

/* Media Query For Res: 1024 */

@media (min-width: 1024px) {
  p {
    line-height: 23px;
  }
  .Back-BTN {
    margin-left: -7%;
  }

  .contact {
    margin-left: -85%;
  }

  h1 {
    margin-left: 1%;
  }

  .contact-img {
    display: block;
    width: 33%;
    margin-left: 55%;
    margin-top: -5%;
  }
  .contact-form {
    margin-top: -19%;
    margin-left: -2vh;
  }

  .welcome_page_button {
    background-color: #6979f8;
    border: none;
    color: white;
    padding: 4px;
    margin-top: 2%;
    border-radius: 3px;
    display: flex;
    font-size: 2.9vw;
    margin-left: 19vw;
  }

  .Contact-us {
    margin-left: 2vh;
  }

  .error {
    margin-left: 3%;
  }
}

/* Media Query For Res: 1440 */

@media (min-width: 1440px) {
  p {
    line-height: 23px;
    font-size: 20px;
  }

  .Back-BTN {
    margin-left: -5%;
  }

  .contact-form {
    margin-top: -19%;
    font-size: 20px;
  }

  .contact {
    margin-left: -90%;
  }

  .contact-button {
    border-radius: 124px;
    margin-top: 1%;
    margin-left: 0%;
    margin-bottom: 1%;
    outline: turquoise;
    border-color: white;
    width: 54%;
  }
  .contact-img {
    display: block;
    width: 33%;
    margin-left: 55%;
    margin-top: -5%;
  }
  .contact-form {
    margin-top: -19%;
  }
}
