

.product-image {
  margin-left: 0%;
    margin-top: 41%;
}
.shopping-cart {
  display: flex;
  flex-direction: row-reverse;
  margin: -2% 1% 0 0;
  font-size: 1.7rem;
  margin-top: -5vh;
}

.product-under {
  margin-top: 2vh;
}
h6 {
  margin: -15% 3% 15px 1%;
}
.addToCart {
  margin-top: 8.4%;
  margin-left: 1%;
  background-color: #6979f8;
  border: none;
  color: black;
  border-radius: 1vw;
  height: 6.3vw;
  font-size: 4vw;
  position: absolute;
}

.product-information {
  font-size: 6vw;
  margin-top: 13%;
}

.producstOnCart {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  background-color: #202020;
  width: 265px;
    height: 290px;
  color: #f0f0f0;
  z-index: 15;
  position: fixed;
  top: 20px;
  right: 0;
  text-align: center;
  animation: fade 1s;
  border-radius: 11px;
}

.producstOnCart::-webkit-scrollbar {
  display: none;
}
.button-checkout {
  margin-top: 6%;
}
#closeButton {
  height: 1%;
}
h3 {
  margin-left: 12%;
}
h6 {
  font-size: 2vh;
}
.cartContainerText {
  margin-left: 7vh;
}

@keyframes fade {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: none;
  }
}

.producstOnCart::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.hide {
  display: none;
  visibility: none;
}

.producstOnCart ul {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.producstOnCart .buyItem {
  border-bottom: #aaa 1px solid;
  width: 90%;
  padding: 10px 0;
  display: flex;
}

.producstOnCart img {
  width: 90px;
}

.producstOnCart .top {
  display: flex;
  background-color: #616161;
  text-align: center;
  padding: 10px 0;
  position: sticky;
  top: 0;
  width: 100%;
}


@media screen and (min-width: 768px) {
  .addToCart {
    margin-top: 3.4%;
    margin-left: 3%;
    background-color: #6979f8;
    border: none;
    color: black;
    border-radius: 1vw;
    height: 4.3vw;
    font-size: 3.2vw;
}

.product-information {
  font-size: 5vw;
  margin-top: 7%;
}

.shopping-cart {
  display: flex;
  flex-direction: row-reverse;

  font-size: 1.7rem;
 
}

}

@media screen and (min-width: 1024px) {
  .product-information {
    font-size: 6vw;
    /* margin-top: 13%; */
}
  .product-under {
    margin-top: -4vh;
  }
  h6 {
    margin: -15% 3% 15px 1%;
  }
  .shopping-cart {
    display: flex;
    flex-direction: row-reverse;
 
    font-size: 1.7rem;
  } 
  .addToCart {
    margin-top: 2.4%;
    margin-left: 0%;
    background-color: #6979f8;
    border: none;
    color: black;
    border-radius: 1vw;
    height: 3.3vw;
    font-size: 2.2vw;
}
.product-information {
  font-size: 2.4vw;
    margin-top: 14%;
}


  }

  @media screen and (min-width: 1440px) {
    .product-information {
      font-size: 3vw;
      margin-top: 10%;
    }

    .product-under{
      margin-top: -3%;
    }
  }
