@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Light.ttf") format("ttf"),
    url("/fonts/OpenSans-Light.ttf") format("ttf");
}

body {
  background-color: #e5ebf1;
  width: 320em;
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  width: 320em;
}
html:focus-within {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* home.html CSS */

.logo {
  position: relative;
  width: 73px;
  height: 38px;
  margin-bottom: 328px;
  margin-left: 5px;
}

.hero-image {
  margin-left: -95px;
}

.hero-image_desktop {
  display: none;
}

h1 {
  margin-top: -216px;
  color: white;
  margin-left: 90px;
  font-size: 16px;
}
.hero-cta {
  width: 122px;
  height: 27px;
  margin-left: 113px;
  border-radius: 3px;
  border: 0 solid transparent;
  background-color: #d3ac1f;
  color: white;
}

.cta-arrow {
  margin-left: -26px;
  margin-bottom: -10px;
}

h2 {
  margin-top: 160px;
  color: #09101d;
  margin-left: 90px;
  font-size: 18px;
}

/* Home page Jackets */

.Best-selling_jacket_product_list {
  display: flex;
  margin-left: 33px;
}

.best-selling_microlightjacket,
.color,
.price {
  font-size: 12px;
  height: 5px;
  margin-top: -2px;
  margin-left: 3px;
}

.best-selling_expeditionjacket,
.color-2,
.price-2 {
  height: 5px;
  margin-top: -2px;
  margin-left: 13px;
  font-size: 12px;
}
.best-selling_senjajacket,
.color-3,
.price-3 {
  height: 5px;
  margin-top: -2px;
  margin-left: -139px;
  font-size: 12px;
}
.best-selling_ulrikenjacket {
  height: 5px;
  margin-top: -92px;
  margin-left: 16px;
  font-size: 12px;
}

.color-4 {
  height: 5px;
  margin-top: 7px;
  margin-left: 16px;
  font-size: 12px;
}

.price-4 {
  height: 5px;
  margin-top: 7px;
  margin-left: 16px;
  font-size: 12px;
}

.ulriken-jacket {
  margin-top: -206px;
  margin-bottom: 81px;
  margin-left: 20px;
}

.microlight-jacket {
  position: relative;
  margin-left: -125px;
  margin-bottom: 10px;
}

.expedition-jacket {
  margin-top: -273px;
  margin-left: 13px;
  position: relative;
  margin-bottom: 74px;
}

.senja-jacket {
  margin-top: -273px;
  margin-left: -119px;
  position: relative;
  margin-bottom: 75px;
}

.jacket-frame_2 {
  margin-left: 10px;
}

.jacket-frame_3 {
  margin-left: -134px;
}

.jacket-frame_4 {
  margin-bottom: 90px;
  margin-left: 8px;
  margin-top: -206px;
}

.nav-img {
  margin-bottom: -13px;
  margin-left: -0.5%;
}

.nav-about {
  margin-left: -337px;
}

.nav-contact-us {
  margin-left: 29px;
}

.nav-jackets {
  margin-left: 36px;
}

.nav-vector {
  margin-left: 43px;
  margin-bottom: 4px;
}

.Footer {
  display: none;
}

/* Media Query For Desktop res: 640 */

@media (min-width: 640px) {
  .hero-image_desktop {
    display: flex;
    height: 38vw;
    margin-top: -328px;
  }

  .hero-image {
    display: none;
  }

  h1 {
    margin-top: -136px;
    color: white;
    margin-left: 240px;
    font-size: 16px;
  }

  .hero-cta {
    width: 122px;
    height: 27px;
    margin-left: 253px;
    border-radius: 3px;
    border: 0 solid transparent;
    background-color: #d3ac1f;
    color: white;
  }

  h2 {
    margin-top: 80px;
    color: #09101d;
    margin-left: 230px;
    font-size: 18px;
  }

  .Best-selling_jacket_product_list {
    display: flex;
    margin-left: 163px;
  }

  .nav-img {
    display: none;
  }

  .desktop-nav {
    display: none;
  }
  .Footer {
    display: block;
    font-size: 15px;
  }
}

/* Media Query For Desktop res: 768 */

@media (min-width: 768px) {
  .hero-image_desktop {
    display: flex;
    height: 38vw;
    margin-top: -328px;
  }

  .hero-image {
    display: none;
  }

  h1 {
    margin-top: -156px;
    color: white;
    margin-left: 310px;
    font-size: 16px;
  }

  .hero-cta {
    width: 122px;
    height: 27px;
    margin-left: 323px;
    border-radius: 3px;
    border: 0 solid transparent;
    background-color: #d3ac1f;
    color: white;
  }

  h2 {
    margin-top: 100px;
    color: #09101d;
    margin-left: 290px;
    font-size: 18px;
  }

  .Best-selling_jacket_product_list {
    display: flex;
    margin-left: 233px;
    margin-top: 0%;
  }

  .nav-img {
    display: none;
  }

  .desktop-nav {
    margin-top: -15.9%;
    margin-left: 11%;
  }
}

/* Media Query For Desktop res: 1024 */

@media (min-width: 1024px) {
  .hero-image_desktop {
    display: flex;
    height: 38vw;
    margin-top: -328px;
  }

  .hero-image {
    display: none;
  }

  h1 {
    margin-top: -216px;
    color: white;
    margin-left: 416px;
    font-size: 23px;
  }

  h2 {
    margin-top: 160px;
    color: #09101d;
    margin-left: 427px;
    font-size: 18px;
  }

  .hero-cta {
    width: 122px;
    height: 27px;
    margin-left: 472px;
    border-radius: 3px;
    border: 0 solid transparent;
    background-color: #d3ac1f;
    color: white;
  }

  .Best-selling_jacket_product_list {
    display: flex;
    margin-left: 368px;
  }

  .nav-img {
    display: none;
  }

  .desktop-nav {
    margin-left: 17%;
    margin-top: -18.2%;
  }
}

/* Media Query For Desktop res: 1080 */

@media (min-width: 1080px) {
  .hero-image_desktop {
    display: flex;
    height: 38vw;
    margin-top: -328px;
  }

  .hero-image {
    display: none;
  }

  h1 {
    margin-top: -226px;
    color: white;
    margin-left: 436px;
    font-size: 23px;
  }

  h2 {
    margin-top: 180px;
    color: #09101d;
    margin-left: 467px;
    font-size: 18px;
  }

  .hero-cta {
    width: 122px;
    height: 27px;
    margin-left: 9.7%;
    border-radius: 3px;
    border: 0 solid transparent;
    background-color: #d3ac1f;
    color: white;
    margin-bottom: -27%;
  }

  .Best-selling_jacket_product_list {
    display: flex;
    margin-left: 8.2%;
  }

  .nav-img {
    display: none;
  }

  .desktop-nav {
    margin-left: 18%;
    margin-top: -18.7%;
  }
}

/* Media Query For Desktop res: 1440 (this is my mac´s res */

@media (min-width: 1440px) {
  .hero-image_desktop {
    display: flex;
    height: 38vw;
    margin-top: -328px;
  }

  .hero-image {
    display: none;
  }

  h1 {
    margin-top: -296px;
    color: white;
    margin-left: 12.1%;
    font-size: 23px;
  }

  h2 {
    margin-top: 4.7%;
    color: #09101d;
    margin-left: 12.5%;
    font-size: 18px;
  }

  .hero-cta {
    width: 122px;
    height: 27px;
    margin-left: 13.4%;
    border-radius: 3px;
    border: 0 solid transparent;
    background-color: #d3ac1f;
    color: white;
    margin-bottom: -27%;
  }

  .Best-selling_jacket_product_list {
    display: flex;
    margin-top: 0%;
    margin-left: 11.5%;
  }

  .nav-img {
    display: none;
  }

  .desktop-nav {
    margin-left: 25%;
    margin-top: -21.2%;
  }
}

/* Media Query For Desktop res: 1536 */

@media (min-width: 1536px) {
  .hero-image_desktop {
    display: flex;
    height: 38vw;
    margin-top: -328px;
  }

  .hero-image {
    display: none;
  }

  h1 {
    margin-top: -296px;
    color: white;
    margin-left: 666px;
    font-size: 23px;
  }

  h2 {
    margin-top: 4.7%;
    color: #09101d;
    margin-left: 13.5%;
    font-size: 18px;
  }

  .hero-cta {
    width: 122px;
    height: 27px;
    margin-left: 14%;
    border-radius: 3px;
    border: 0 solid transparent;
    background-color: #d3ac1f;
    color: white;
    margin-bottom: -27%;
  }

  .Best-selling_jacket_product_list {
    display: flex;
    margin-top: 0%;
    margin-left: 12.5%;
  }

  .nav-img {
    display: none;
  }

  .desktop-nav {
    margin-top: -21.9%;
  }
}
