@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Light.ttf") format("ttf"),
    url("/fonts/OpenSans-Light.ttf") format("ttf");
}

body {
  background-color: #e5ebf1;
  font-family: "Open Sans", sans-serif;
}

html {
  box-sizing: border-box;
}
html:focus-within {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* jackets.html CSS */

.jacket-title {
  text-align: center;
  margin-left: -14%;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  grid-gap: 20px;
}

.jacket-frame {
  width: 33%;
  position: relative;
  margin-top: 0;
  margin-left: 0;
}

.jacket-frame_2 {
  width: 33%;
  margin-top: 0;
  margin-left: 21%;
}

.jacket-frame_3 {
  width: 33%;
  margin-top: 0;
  margin-bottom: -67%;
  margin-left: 1%;
}

.jacket-frame_4 {
  width: 33%;
  margin-top: 0;
  margin-bottom: -67%;
  margin-left: 21%;
}

.microlight-jacket_img {
  position: absolute;
  width: 26%;
  left: 3%;
  top: 16%;
}

.expedions-jacket_img {
  position: inherit;
  width: 26%;
  margin-left: 59%;
  margin-top: -51%;
  margin-bottom: 16%;
}

.senja-jacket_img {
  position: inherit;
  width: 26%;
  margin-left: -82%;
  margin-top: -48.5%;
  margin-bottom: -57%;
}

.ulriken-jacket {
  position: inherit;
  width: 26%;
  margin-left: 27%;
  margin-top: -26.5%;
  margin-bottom: -59%;
}

.jacket-info {
  font-size: 12px;
  width: 26%;
  margin-top: -14%;
}

.jacket-info_2 {
  margin-left: 51%;
  margin-top: -29%;
  font-size: 12px;
}

.jacket-info_3 {
  margin-left: 1%;
  margin-top: 45.9%;
  font-size: 12px;
}

.jacket-info_4 {
  margin-left: 51%;
  margin-top: -28.9%;
  font-size: 12px;
}

article {
  font-size: 12px;
  margin-top: 11%;
}

.nav-img {
  width: 110%;
  margin-top: 18%;
  margin-left: -2.5%;
}

.nav-about {
  margin-top: -45%;
  margin-bottom: 10%;
  margin-left: 6%;
}

.nav-contact-us {
  margin-top: -45%;
  margin-bottom: 10%;
  margin-left: 6%;
}

.nav-jackets {
  margin-top: -45%;
  margin-bottom: 10%;
  margin-left: 6%;
}

.nav-vector {
  margin-top: -35%;
  margin-bottom: 11.5%;
  margin-left: 6%;
}
.jacket-list_hero_image {
  display: none;
}

/* Media Query For removing the desktop content from res: 320 */

@media (max-width: 320px) {
  .jacket-list_hero_image,
  .desktop-frame,
  .microlight-jacket_desktop,
  .expedition-jacket_desktop,
  .senja-jacket_desktop,
  .ulriken-jacket_desktop,
  .desktop-jackets,
  .desktop-jackets-2,
  .desktop-jackets-3,
  .desktop-jackets-4,
  .desktop-jackets_info,
  .desktop-jackets_info_2,
  .desktop-jackets_info_3,
  .desktop_jackets_info_4 {
    display: none;
  }
}

/* Media Query For Res: 640 */

@media (min-width: 640px) {
  .product-list,
  .jacket-frame,
  .jacket-frame_2,
  .jacket-frame_3,
  .jacket-frame_4,
  .microlight-jacket_img,
  .expedions-jacket_img,
  .senja-jacket_img,
  .ulriken-jacket,
  .jacket-info,
  .jacket-info_2,
  .jacket-info_3,
  .jacket-info_4,
  .nav-img,
  .nav-about,
  .nav-contact-us,
  .nav-jackets,
  .nav-vector {
    display: none;
  }

  .jacket-title {
    margin-left: -85%;
    font-size: 24px;
    margin-top: 9%;
    margin-bottom: 1%;
  }

  .Back-BTN {
    margin-top: 0%;
  }

  article {
    margin-left: 1%;
    width: 39%;
    margin-top: 6%;
    font-size: 14px;
  }

  .jacket-list_hero_image {
    display: block;
    width: 70%;
    margin-left: 28%;
    margin-top: -17%;
  }

  .desktop-frame {
    margin-top: 56%;
  }
  .microlight-jacket_desktop {
    margin-left: -53%;
    margin-top: -1%;
    margin-bottom: 4%;
  }

  .expedition-jacket_desktop {
    margin-left: 1%;
    margin-top: -69%;
    margin-bottom: 13%;
  }
  .senja-jacket_desktop {
    margin-left: -51%;
    margin-top: -71%;
    margin-bottom: 4%;
  }

  .ulriken-jacket_desktop {
    margin-left: 2%;
    position: fixed;
  }

  .desktop-jackets {
    position: fixed;
    margin-top: -13%;
  }

  .desktop-jackets-2 {
    margin-left: 23%;
    margin-top: 9.3%;
    position: fixed;
  }

  .desktop-jackets-3 {
    margin-left: 46%;
    position: fixed;
    margin-top: 9.3%;
  }

  .desktop-jackets-4 {
    margin-left: 69%;
    margin-top: 9.3%;
    position: fixed;
  }
  .desktop-jackets_info {
    margin-top: 32%;
    margin-left: 1%;
    font-size: 12px;
  }

  .desktop-jackets_info_2 {
    margin-left: 24%;
    margin-top: -13%;
    font-size: 12px;
  }

  .desktop-jackets_info_3 {
    margin-left: 48%;
    margin-top: -13%;
    font-size: 12px;
  }

  .desktop_jackets_info_4 {
    margin-left: 71.4%;
    margin-top: -12.6%;
    font-size: 12px;
  }
}

/* Media Query For Res: 768 */

@media (min-width: 768px) {
  .product-list,
  .jacket-frame,
  .jacket-frame_2,
  .jacket-frame_3,
  .jacket-frame_4,
  .microlight-jacket_img,
  .expedions-jacket_img,
  .senja-jacket_img,
  .ulriken-jacket,
  .jacket-info,
  .jacket-info_2,
  .jacket-info_3,
  .jacket-info_4,
  .nav-img,
  .nav-about,
  .nav-contact-us,
  .nav-jackets,
  .nav-vector {
    display: none;
  }

  .jacket-title {
    margin-left: -87%;
    font-size: 24px;
    margin-top: 9%;
    margin-bottom: 1%;
  }

  .Back-BTN {
    margin-top: 0%;
  }

  article {
    margin-left: 1%;
    width: 39%;
    margin-top: 6%;
    font-size: 14px;
  }

  .jacket-list_hero_image {
    display: block;
    width: 70%;
    margin-left: 28%;
    margin-top: -17%;
  }

  .desktop-frame {
    margin-top: 56%;
  }
  .microlight-jacket_desktop {
    margin-left: -53%;
    margin-top: -1%;
    margin-bottom: 4%;
  }

  .expedition-jacket_desktop {
    margin-left: 1%;
    margin-top: -69%;
    margin-bottom: 13%;
  }
  .senja-jacket_desktop {
    margin-left: -51%;
    margin-top: -71%;
    margin-bottom: 4%;
  }

  .ulriken-jacket_desktop {
    margin-left: 2%;
    position: fixed;
  }

  .desktop-jackets {
    position: fixed;
    margin-top: -9.1%;
  }

  .desktop-jackets-2 {
    margin-left: 23%;
    margin-top: 9.3%;
    position: fixed;
  }

  .desktop-jackets-3 {
    margin-left: 46%;
    position: fixed;
    margin-top: 9.3%;
  }

  .desktop-jackets-4 {
    margin-left: 69%;
    margin-top: 9.3%;
    position: fixed;
  }
  .desktop-jackets_info {
    margin-top: 28%;
    margin-left: 1%;
    font-size: 12px;
  }

  .desktop-jackets_info_2 {
    margin-left: 24%;
    margin-top: -11%;
    font-size: 12px;
  }

  .desktop-jackets_info_3 {
    margin-left: 48%;
    margin-top: -10%;
    font-size: 12px;
  }

  .desktop_jackets_info_4 {
    margin-left: 71.4%;
    margin-top: -10.6%;
    font-size: 12px;
  }
}

/* Media Query For Res: 1024 */

@media (min-width: 1024px) {
  .product-list,
  .jacket-frame,
  .jacket-frame_2,
  .jacket-frame_3,
  .jacket-frame_4,
  .microlight-jacket_img,
  .expedions-jacket_img,
  .senja-jacket_img,
  .ulriken-jacket,
  .jacket-info,
  .jacket-info_2,
  .jacket-info_3,
  .jacket-info_4,
  .nav-img,
  .nav-about,
  .nav-contact-us,
  .nav-jackets,
  .nav-vector {
    display: none;
  }

  .jacket-title {
    margin-left: -87%;
    font-size: 24px;
    margin-top: 9%;
    margin-bottom: 1%;
  }

  .Back-BTN {
    margin-top: 0%;
  }

  .jacket-selling_points {
    margin-top: 1%;
  }

  .jacket-list_hero_image {
    display: block;
    width: 70%;
    margin-left: 28%;
    margin-top: -17%;
  }

  .desktop-frame {
    margin-top: 56%;
  }
  .microlight-jacket_desktop {
    margin-left: -53%;
    margin-top: -1%;
    margin-bottom: 4%;
  }

  .expedition-jacket_desktop {
    margin-left: 1%;
    margin-top: -69%;
    margin-bottom: 13%;
  }
  .senja-jacket_desktop {
    margin-left: -51%;
    margin-top: -71%;
    margin-bottom: 4%;
  }

  .ulriken-jacket_desktop {
    margin-left: 1%;
    position: fixed;
  }

  .desktop-jackets {
    position: fixed;
    margin-top: -4.1%;
  }

  .desktop-jackets-2 {
    margin-left: 23%;
    margin-top: 9.6%;
    position: fixed;
  }

  .desktop-jackets-3 {
    margin-left: 46%;
    position: fixed;
    margin-top: 9.3%;
  }

  .desktop-jackets-4 {
    margin-left: 69%;
    margin-top: 9.3%;
    position: fixed;
  }
  .desktop-jackets_info {
    margin-top: 24%;
    margin-left: 0.6%;
    font-size: 12px;
  }

  .desktop-jackets_info_2 {
    margin-left: 24%;
    margin-top: -8%;
    font-size: 12px;
  }

  .desktop-jackets_info_3 {
    margin-left: 47.2%;
    margin-top: -8%;
    font-size: 12px;
  }

  .desktop_jackets_info_4 {
    margin-left: 70.4%;
    margin-top: -7.6%;
    font-size: 12px;
  }
}

/* Media Query For Res: 1080 */

@media (min-width: 1080px) {
  .desktop-jackets {
    position: fixed;
    margin-top: -3.6%;
  }
}

/* Media Query For Res: 1440 */

@media (min-width: 1440px) {
  .product-list,
  .jacket-frame,
  .jacket-frame_2,
  .jacket-frame_3,
  .jacket-frame_4,
  .microlight-jacket_img,
  .expedions-jacket_img,
  .senja-jacket_img,
  .ulriken-jacket,
  .jacket-info,
  .jacket-info_2,
  .jacket-info_3,
  .jacket-info_4,
  .nav-img,
  .nav-about,
  .nav-contact-us,
  .nav-jackets,
  .nav-vector {
    display: none;
  }

  .jacket-title {
    margin-left: -87%;
    font-size: 44px;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .Back-BTN {
    margin-top: 0%;
  }

  .jacket-selling_points {
    margin-top: -2%;
    font-size: 23px;
  }

  .jacket-list_hero_image {
    display: block;
    width: 65%;
    margin-left: 31%;
    margin-top: -13%;
  }

  .desktop-frame {
    margin-top: 56%;
    width: 80%;
  }

  .desktop-frame_2 {
    width: 80%;
    margin-top: -21%;
  }
  .desktop-frame_3 {
    width: 80%;
    margin-top: -21%;
  }

  .desktop-frame_4 {
    width: 145%;
    margin-top: -40%;
  }

  .microlight-jacket_desktop {
    margin-left: -77%;
    margin-top: -1%;
    margin-bottom: 2%;
    width: 70%;
  }

  .expedition-jacket_desktop {
    margin-left: 1%;
    margin-top: -87%;
    margin-bottom: 13%;
    width: 70%;
  }
  .senja-jacket_desktop {
    margin-left: -74%;
    margin-bottom: 6%;
    width: 70%;
  }

  .ulriken-jacket_desktop {
    margin-left: 1%;
    position: fixed;
    width: 12%;
    margin-top: -4%;
  }

  .desktop-jackets {
    position: fixed;
    margin-top: -4.1%;
  }

  .desktop-jackets-2 {
    margin-left: 23%;
    margin-top: 9.6%;
    position: fixed;
  }

  .desktop-jackets-3 {
    margin-left: 46%;
    position: fixed;
    margin-top: 9.3%;
  }

  .desktop-jackets-4 {
    margin-left: 69%;
    margin-top: 9.3%;
    position: fixed;
  }
  .desktop-jackets_info {
    margin-top: 21%;
    margin-left: 0.6%;
    font-size: 18px;
  }

  .desktop-jackets_info_2 {
    margin-left: 24%;
    margin-top: -9%;
    font-size: 18px;
  }

  .desktop-jackets_info_3 {
    margin-left: 47.2%;
    margin-top: -9%;
    font-size: 18px;
  }

  .desktop_jackets_info_4 {
    margin-left: 70.4%;
    margin-top: -7.6%;
    font-size: 18px;
  }
}

/* Media Query For Res: 1536 */

@media (min-width: 1536px) {
  .desktop-jackets {
    position: fixed;
    margin-top: -3.1%;
  }
  .ulriken-jacket_desktop {
    margin-left: 1%;
    position: fixed;
    width: 11%;
    margin-top: -4%;
  }
}
