@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Light.ttf") format("ttf"),
    url("/fonts/OpenSans-Light.ttf") format("ttf");
}

body {
  background-color: #45a3ff;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {from {opacity:0} to{opacity:1} }
.logo {
  width: 10vh;
  margin-top: 0vh;
  margin-left: 1vh;
}

main {
  text-align: center;
}

h1 {
  font-size: 5.8vw;
  text-align: center;
  margin-left: 3%;
}

.thankYou {
  font-size: 3.5vw;
}

.billing {
  margin-top: 2vw;
  font-weight: bold;
  font-size: 5vw;
}

.Order-confirmation_img {
  width: 71vw;
  margin-left: 7vw;
  margin-top: 3vw;
}

.welcome_page_button {
  background-color: #6979f8;
  border: none;
  color: white;
  padding: 4px;
  margin-top: 5%;
  border-radius: 3px;
  display: flex;
  font-size: 4.9vw;
  margin-left: 9vw;
}

.footer {
  background-color: rgba(29, 36, 42, 0.9);
  padding: 0em 2em 1em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35vh 0 0 0;
}


.footerRainyDays, a {
  margin: 0 1em 0 0;
  color: #bfbfbf;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.8vw;
  }

  .thankYou {
    font-size: 3vw;
  }

  .billing {
    margin-top: 2vw;
    font-weight: bold;
    font-size: 3vw;
  }
  .Order-confirmation_img {
    width: 36vw;
    margin-left: 3vw;
    margin-top: 3vw;
}

  .welcome_page_button {
    background-color: #6979f8;
    border: none;
    color: white;
    padding: 4px;
    margin-top: 3%;
    border-radius: 3px;
    display: flex;
    font-size: 2.4vw;
    margin-left: 4vw;
}
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2.8vw;
  }

  .thankYou {
    font-size: 1.6vw;

  }

  .billing {
    margin-top: 2vw;
    font-weight: bold;
    font-size: 2vw;
  }

  .Order-confirmation_img {
    width: 26vw;
    margin-left: 3vw;
    margin-top: 0vw;
}
.welcome_page_button {
  background-color: #6979f8;
  border: none;
  color: white;
  padding: 4px;
  margin-top: 2%;
  border-radius: 3px;
  display: flex;
  font-size: 2.4vw;
  margin-left: 5vw;
}
}

@media screen and (min-width: 1440px) {
  .Order-confirmation_img {
    width: 20vw;
    margin-left: 2vw;
}
  .welcome_page_button {
    background-color: #6979f8;
    border: none;
    color: white;
    padding: 4px;
    margin-top: 1%;
    border-radius: 3px;
    display: flex;
    font-size: 2.4vw;
    margin-left: 2.5vw;
}
}
